---
import Layout from '../../layouts/Layout.astro';
import CssFormatterTool from '../../components/tools/CssFormatter';
---

<Layout title="CSS Formatter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <CssFormatterTool client:load />
  </main>
</Layout>
