---
import Layout from '../../layouts/Layout.astro';
import CssFormatterComponent from '../../components/tools/coding/CssFormatter';
---

<Layout title="CSS Formatter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <CssFormatterComponent client:load />
  </main>
</Layout>
