---
import Layout from '../../layouts/Layout.astro';
import DiffCheckerTool from '../../components/tools/DiffChecker';
---

<Layout title="Diff Checker - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <DiffCheckerTool client:load />
  </main>
</Layout>
