---
import Layout from '../../layouts/Layout.astro';
import DiffCheckerComponent from '../../components/tools/coding/DiffChecker';
---

<Layout title="Diff Checker - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <DiffCheckerComponent client:load />
  </main>
</Layout>
