---
import Layout from '../../layouts/Layout.astro';
import HtmlFormatterComponent from '../../components/tools/coding/HtmlFormatter';
---

<Layout title="HTML Formatter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <HtmlFormatterComponent client:load />
  </main>
</Layout>
