---
import Layout from '../../layouts/Layout.astro';
import HtmlFormatterTool from '../../components/tools/HtmlFormatter';
---

<Layout title="HTML Formatter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <HtmlFormatterTool client:load />
  </main>
</Layout>
