---
import Layout from '../../layouts/Layout.astro';
import JsonToJsTool from '../../components/tools/JsonToJs';
---

<Layout title="JSON to JS Object Converter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <JsonToJsTool client:load />
  </main>
</Layout>
