---
import Layout from '../../layouts/Layout.astro';
import JsonFormatterComponent from '../../components/tools/coding/JsonFormatter';
---

<Layout title="JSON Formatter & Validator - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <JsonFormatterComponent client:load />
  </main>
</Layout>
