---
import Layout from '../../layouts/Layout.astro';
import JsonFormatterTool from '../../components/tools/JsonFormatter';
---

<Layout title="JSON Formatter & Validator - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <JsonFormatterTool client:load />
  </main>
</Layout>
