---
import Layout from '../../layouts/Layout.astro';
import SassToCssTool from '../../components/tools/SassToCss';
---

<Layout title="Sass to CSS Converter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <SassToCssTool client:load />
  </main>
</Layout>
