---
import Layout from '../../layouts/Layout.astro';
import SassToCssComponent from '../../components/tools/coding/SassToCss';
---

<Layout title="Sass to CSS Converter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <SassToCssComponent client:load />
  </main>
</Layout>
