---
import Layout from '../../layouts/Layout.astro';
import UnminifierComponent from '../../components/tools/coding/Unminifier';
---

<Layout title="Universal Unminifier - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <UnminifierComponent client:load />
  </main>
</Layout>
