---
import Layout from '../../layouts/Layout.astro';
import UnminifierTool from '../../components/tools/Unminifier';
---

<Layout title="Universal Unminifier - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <UnminifierTool client:load />
  </main>
</Layout>
