---
import Layout from '../../layouts/Layout.astro';
import XmlToJsonTool from '../../components/tools/coding/XmlToJson';
---

<Layout title="XML to JSON Converter - Free Online Tool">
  <main class="min-h-screen bg-gray-50 py-12">
    <XmlToJsonTool client:load />
  </main>
</Layout>
