---
---
<footer class="bg-white border-t border-gray-200 py-12 mt-auto">
  <div class="container mx-auto px-4 text-center text-gray-400">
    <p>&copy; {new Date().getFullYear()} AllTools. All rights reserved.</p>
  </div>
</footer>
