---
import "../styles/global.css";
// Supports weights 400-700
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';

interface Props {
	title: string;
	description?: string;
}

import Header from '../components/Header.tsx';
import Footer from '../components/Footer.astro';

const { title, description = "Free tools for everyone. PDF, Image, AI tools and more." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="manifest" href="/manifest.webmanifest" />
		<meta name="theme-color" content="#ffffff" />
		<title>{title}</title>

	</head>
	<body class="min-h-screen flex flex-col">
        <Header client:load />
		<slot />
        <Footer />
	</body>
</html>
